* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: gray;
    display: flex;
    width: 100%;
    align-items: center;
}

.profile-avatar {
    margin: 15px;
    border-radius: 100px;
    width: 30%;
}


.profile-desc {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    width: 70%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.btn-profile {
    height: 50px;
    width: 50px;
    display: flex;
    margin-right: 20px;
}

.logo {
    width: 100%;
}

h1 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}

.btn-container{
    display: flex;
    width: 20%;
}